<!DOCTYPE html>
<html lang="ar" dir="rtl">
<head>
    <title><%= cardName %></title>
    <meta name="description" content="<%= cardTagline %>"/>
    <meta property="og:title" content="<%= cardName %>"/>
    <meta property="og:description" content="<%= cardTagline %>"/>
    <meta property="og:image" content="<%= cardImage %>"/>
    </head>
<body>
    <h1><%= cardName %></h1>
    <p><%= cardTagline %></p>
</body>
</html>